---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
---


<Layout title='Página sobre nosotros'>
    <Banner title="¿Quienes somos?"
    text="En esta sección podras encontrar lo necesario para informarte sobre que hacemos y como nacio la empresa de Rosales SPA."
    urlImage="public/pages-img/banner-about.jpg"/>
    <section class="info-section">
        <article class="section-paragraph">
            <h2>¿QUÉ ES LO QUE HACEMOS?</h2>
            <p class="paragraph-info">ELorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit ipsum turpis, id rutrum libero tristique vitae. 
                Pellentesque eu purus et nisl commodo lacinia nec ac mi. In diam ante, dignissim vitae efficitur vitae, lobortis id nisl. 
                Cras ornare justo mi. Duis sagittis pharetra odio non pharetra. Praesent a nisl vehicula, laoreet dolor eu, pretium neque. 
                Fusce dignissim sapien vitae felis ornare vulputate. Donec ut sapien faucibus justo euismod cursus ut sed sapien. Vestibulum facilisis urna at ipsum dictum convallis. 
                Vestibulum sollicitudin fermentum ante, eget fringilla mauris pretium sed. Suspendisse ac placerat massa.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis dolor nibh, efficitur ut nisi dapibus, commodo tincidunt sem.</p>
        </article>
        <div class="image-info-section">
            <img  src="public/pages-img/Terminaciones-imagen-index.webp" alt="">
        </div>
    </section>
    <section class="info-section prefer">
        <article class="section-paragraph">
            <h2>NUESTRA VISIÓN</h2>
            <p class="paragraph-info">ELorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit ipsum turpis, id rutrum libero tristique vitae. 
                Pellentesque eu purus et nisl commodo lacinia nec ac mi. In diam ante, dignissim vitae efficitur vitae, lobortis id nisl. 
                Cras ornare justo mi. Duis sagittis pharetra odio non pharetra. Praesent a nisl vehicula, laoreet dolor eu, pretium neque. 
                Fusce dignissim sapien vitae felis ornare vulputate. Donec ut sapien faucibus justo euismod cursus ut sed sapien. Vestibulum facilisis urna at ipsum dictum convallis. 
                Vestibulum sollicitudin fermentum ante, eget fringilla mauris pretium sed. Suspendisse ac placerat massa.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis dolor nibh, efficitur ut nisi dapibus, commodo tincidunt sem.</p>
        </article>
        <div class="image-info-section">
            <img  src="public/pages-img/Terminaciones-imagen-index.webp" alt="">
        </div>
    </section>
</Layout>

<style>
	.info-section{
		margin-top: 6rem;
		background-color: #FDFBF6;
        color: #000000;
	}
    .prefer{
		margin-top: 4rem;
		background-color: #FDFBF6 ;
		color: #000000;
        margin-bottom: 4rem;
	}

</style>