<footer>
    <div>
        <section>
            <div class="title-footer">
                <h2>Contacto</h2>
            </div>
            <ul>
                <li>+56 9 3222 2321</li>
                <li>contacto@rosalesspa.cl</li>
                <li><a class="other-link" href="">Enviar Mensaje</a></li>
            </ul>
        </section>
        <section>
            <div class="title-footer">
                <h2>Servicios</h2>
            </div>
            <ul>
                <li>Pintura</li>
                <li>Terminaciones</li>
                <li>Decoraciones</li>
            </ul>
        </section>
        <section>
            <div class="title-footer">
                <h2>¿Quienes Somos?</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit ipsum turpis, id rutrum libero tristique vitae. 
                Pellentesque eu purus et nisl commodo lacinia nec ac mi. In diam ante, dignissim vitae efficitur vitae, lobortis id nisl. Cras ornare justo mi. </p>
        </section>
    </div>
    <div class="footer-copyright">
        <p>© 2024 Rosalesspa. Todos los derechos reservados.</p>
    </div>
</footer>

<style>
    p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
    ul {
    display: block;
    list-style-type:  square;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    padding-left: 30px;
}
li{
    margin-bottom: 10px;
    color: #fff;
    font-size: 1em;
}

h2{
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 10px;
    border-bottom: #fff 2px solid;
    margin-bottom: 20px;
}
footer div section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    color: #fff;
    margin-bottom: 20px;
}
footer div{
    position: relative;
    font-family: 'Kadwa', serif;
    background-color: #003249;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}
.other-link{
    color: #fff;
}
p{
    font-size: 1em;
    max-width: 400px;
}
.footer-copyright{
    padding: 20px;
}

@media screen and (max-width: 768px){
    footer div{
    justify-content: flex-start;
}
}

</style>